[net]
batch=128
subdivisions=1
height=32
width=32
channels=3
max_crop=32
min_crop=32

hue=.1
saturation=.75
exposure=.75

# FP training epochs
# 390.625 steps per epoch
max_batches=19531      # 50 epochs
                    
# Optimizer
#policy=constant       
policy=step
step=7813             # every 20 epochs
scale=0.1
#learning_rate=0.01    # FP & INT8 training
learning_rate=0.0001  # INT4 training
#policy=constant
#learning_rate=0.000001
momentum=0.9
decay=0.0

# Cluster QAT
ctr_k=10
// minmax, rgb, partition
#ctr_method=minmax
#ctr_method=partition
#ctr_method=all
#ctr_method=random
ctr_method=nn_partition

qat_init_step=1
qat_end_epoch=1
ema_smooth=0.99       # smoothing parameter
ema_decay=0            # boolean factor to on/off
ema_convergence=0.999  # sparam at the end of qat

[connected]
output=1024
activation=relu

[connected]
output=1024
activation=relu

[connected]
output=1024
activation=relu

[connected]
output=10
activation=linear

[softmax]
