[net]
batch=128
subdivisions=1
height=32
width=32
channels=3
max_crop=32
min_crop=32

hue=.1
saturation=.75
exposure=.75

# FP training epochs
# 390.625 steps per epoch
max_batches=13672 # 35 epochs
                    
policy=step
step=7813 # every 20 epochs
scale=0.1
learning_rate=0.01 # FP & INT8 training
#learning_rate=0.0001 # INT4 training

// cluster qat
#policy=constant
#learning_rate=0.000001

momentum=0.9
decay=0.0

qat_init_step=1
ema_smooth=0.999     # smoothing parameter
ema_decay=0          # boolean factor to on/off
ema_convergence=0.999 # sparam at the end of qat

[convolutional]
filters=32
size=5
stride=1
pad=1
activation=relu

[maxpool]
size=2
stride=2

[convolutional]
filters=64
size=5
stride=1
pad=1
activation=relu

[maxpool]
size=2
stride=2

[connected]
output=512
activation=relu

[connected]
output=10
activation=linear

[softmax]
