*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
# cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# ken
backup/
log/
tags
.idea/
libdarknet.a
libdarknet.so
data/datasets
data/cifar
data/mnist
data/svhn
data/tiny-imagenet-200
data/imagenet
python/cluster/cifar
python/cluster/mnist
python/cluster/svhn
python/cluster/tiny
cifar*/
svhn*/
tiny*/
*.sh
